/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Body
  ========================================
*/

body {
    font-family: "Montserrat"
}

  
/*
  ========================================
  Typography
  ========================================
*/

header{
    background-image: url("../images/joker.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;

    
}

.main-header h1 {
    color:#fff;
    font-weight: 800;
    font-style: bold;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
}

.main-header h2 {
    font-size: 65px;
    padding-top: 200px;
}


.main-header h3 {
    font-size: 65px;
    padding-top: 20px;
    padding-bottom: 30px
}



.movie-info h2 {
    font-size: 45px;
    padding: 10px;
    text-align: center;
}

.movie-info p {
    font-family: "lato";
    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}

.main-actors h1 {
    font-size: 45px;
    padding: 30px;
    text-align: center;
}

.actors h2 {
    padding-top: 10px
}

.actors h3 {
    color: #ff0000;
    font-size: 20px
}


footer p{
    background: #1d2b53;
    font-family: "lato";
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    padding: 30px;
    text-align: center;
    line-height: 25px;
}
    
/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    background: #ff0000;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-alt {
    text-align: center;
    border: 1px solid ;
    padding: 20px 20px;
}

    
/*
  ========================================
  Images
  ========================================
*/   
    
.main-header img {
    text-align: center;
    width: 3%;
    padding-left: 10px;
}

.main-actors img {
    width: 50%;
}

    
/*
  ========================================
  Navigator
  ========================================
*/ 

nav {
    background: #ddd;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    word-spacing: 100px;
}

ul li{
    display: inline;
    
}


/*
  ========================================
  Links
  ========================================
*/ 

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;
}

/*
  ========================================
  Movie Info
  ========================================
*/ 

.movie-info {
    padding: 50px;
}

/*
  ========================================
  Main Actors
  ========================================
*/

.main-actors {
    background: #ddd;
}

.grid {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


.col-1-3 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}



.icons img {
    padding-left: ;
    text-align: center;
}


/*
  ========================================
  countdown clock
  ========================================
*/

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
        
	}
    
    .movie-info p {
    font-family: "lato";
    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
    padding-right: inherit;
    padding-left: inherit;
    text-align: center;
}
}